// Brand colour
$turquoise: #75E6DA;

// Secondary colours
$blue: #189AB4;
$navy: #05445E;
$sky: #D4F1F4;
$light-gray: #FAFAFA;
$gray: #3D484D;

// Utility
$red: #E86C5B;
$green: #96E458;
$yellow: #FFC65A;

$orange: #E67E22;
