.show-graph {
  background: white;
  padding: 30px;
  margin: 10px 0;
  border-radius: $border-radius;
}

.reports {
  background: white;
  padding: 0 20px;

  .report-item {
    padding: 10px 5px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #ddd;
    }
  }
}

.graph-label {
  .download {
    font-size: 80%;
    transition: $transition-out;
  }
}
