.search-result {
  list-style: none;
  width: 100%;

  li {
    position: relative;
    font-size: 1.2rem;
    background: white;
    padding: 10px;
    &:hover { background: $light-gray; }

    p {
      margin: 0;
      padding: 0;
    }
  }

  .add-search-item {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
