<%= render 'shared/sidebar' %>

<div class="content-container scrollable col-10">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-3"><%= @group.name.capitalize %></h1>
    </div>
  </div>
  <div class="row scrollable">
    <div class="col-6">
      <%@group.companies.each_with_index do |company, index|%>
        <%= render 'shared/group_item', company: company, index: index %>
      <%end%>
    </div>
  </div>
</div>
