
<%= link_to group_path(group) do %>
  <div class="basket-card">
    <p><%=group.name%></p>
    <i class="fas fa-eye"></i>
  </div>
<% end %>

<%= link_to group_path(group), method: :delete do %>
    <i class="fas fa-minus-circle"></i>
<% end %>
