<div class="col-4 card-company">
  <div class="row">
    <div class="col-6 card-company-content">
      <h3>Apple Inc.</h3>
      <p><a href="#"><i class="fas fa-plus-circle mr-1"></i></a>AAPL</p>
      <h3><i class="fas fa-arrow-up mr-2 arrow"></i><span class="stock-price">208.43</span></h3>
    </div>
    <div class="col-6 card-company-graph">
      <p>GRAPH HERE</p>
    </div>
  </div>
</div>
