<%= render 'shared/company_name', '@company': company, company_data: @company_data[index] %>
<%= render 'shared/company_data', company_data: @company_data[index], dividend_yield: @dividend_yield[index], pe_ratio: @pe_ratio[index] %>
<div class="show-graph">
  <%= line_chart company_charts_index_path(company),
      min: nil,
      defer: true,
      colors: ["#75E6DA"],
      points: false,
      width: '100%',
      height: '200px'
  %>
</div>
