<%= render 'shared/company_name', '@company': company %>
<%= render 'shared/company_data', '@company': company %>
<div class="show-graph">
  <%#= line_chart @price_data_array, min: (@min_price[0]*0.9).round, width: "100%", height: "300px", points: false, colors: ["#75E6DA"] %>
</div>
