<div class="col-6">
  <div class="card-market">
    <div>
      <p>S&P 500 Index</p>
      <p>2,888.68</p>
    </div>
    <div class="card-market-subtext">
      <p>INDEXSP</p>
      <p class="movement">+41.08 (1.44%)</p>
    </div>
  </div>
</div>
