<div class="sidebar col-2">
  <ul class="secondary-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">News</a></li>
  </ul>
  <div class="basket-container">
    <h3 class="mb-3">Basket</h3>
    <%= render 'shared/basket_card' %>
    <%= render 'shared/basket_card' %>
    <%= render 'shared/basket_card' %>
  </div>
</div>
