<div class="sidebar col-2">
  <ul class="secondary-nav">
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">News</a></li>
  </ul>
  <div class="basket-container">
    <h3 class="mb-3 d-flex justify-content-between">Basket
      <% if signed_in? %>
        <%= link_to new_group_path do %>
          <i class="fas fa-plus-circle add-group"></i>
        <%end%>
      <% else %>
        <%= link_to data: {toggle: "modal", target: "#modalLRForm"} do %>
          <i class="fas fa-plus-circle add-group"></i>
        <% end %>
      <% end %>
    </h3>
    <% if signed_in? %>
      <div class="basket-cards">
        <% if signed_in? %>
          <%@groups.each do |group|%>
            <%= render 'shared/basket_card', group: group%>
          <%end%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
