<div class="sidebar col-2">
  <div class="basket-container">
    <h3 class="mb-3 d-flex justify-content-between">Portfolio
      <% if signed_in? %>
      <!-- PLUS BUTTON BELOW -->
        <%#= link_to new_group_path, title: 'Create a new portfolio' do %>
          <i class="fas fa-plus-circle add-group" id="add-group" data-token="<%= form_authenticity_token %>"></i>
        <%#end%>
        <!-- PLUS BUTTON ABOVE -->
      <% else %>
        <%= link_to "value", data: {toggle: "modal", target: "#modalLRForm"} do %>
          <i class="fas fa-plus-circle add-group"></i>
        <% end %>
      <% end %>
    </h3>
    <% if signed_in? %>
      <div class="basket-cards">
        <% @basket.each_with_index do |group, index| %>
          <% if index > 0 %>
          <%= render 'shared/basket_card', group: group%>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
