<div class="sidebar col-2">
  <ul class="secondary-nav">
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">News</a></li>
  </ul>
  <div class="basket-container">
    <h3 class="mb-3 d-flex justify-content-between">Basket
      <%= link_to new_group_path do %>
        <i class="fas fa-plus-circle add-group"></i>
      <%end%>
    </h3>
    <div class="basket-cards">
      <%@groups.each do |group|%>
        <%= render 'shared/basket_card', group: group%>
      <%end%>
    </div>
  </div>
</div>
