<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(<%= image_path 'banner.jpg', height: 300, width: 1200, crop: :fill %>);">
  <div class="container">
    <h1>Let financial data lead the way</h1>
    <p>Where intelligence meets integrity</p>
    <%= link_to 'Get started', "#", data: {toggle: "modal", target: "#modalLRForm"}, class: "btn btn-lg btn-secondary mt-2"  %>
  </div>
</div>

<div class="container">
<h1></h1>
<p></p>
</div>
