<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url(<%= cl_image_path @course.photo, height: 300, width: 1200, crop: :fill %>);">
  <!-- ^^ INSERT COURSE IMAGE ^^ -->
  <div class="container">
    <h1><%= @course.name %></h1>
  </div>
</div>

<div class="container">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
