<div class="container mt-5">
  <h1>Search Results</h1>
  <ul class="search-result">
    <% @search_company_result_array.each do |company| %>
      <%=render 'search_result', company: company %>
    <% end %>
  </ul>
</div>
