<div class="container">
  <h1>Search Results (US Only)</h1>
  <ul>
    <% @search_array.each do |element| %>
      <% if element["4. region"] == "United States"%>
        <li><%= link_to element["1. symbol"], companies_path %> -- <%= link_to element["2. name"], companies_path %></li>
      <% end %>
    <% end %>
  </ul>
</div>
