<%= render 'shared/sidebar' %>

<div class="content-container col-10">
  <h2>My Stocks</h2>
  <div class="row mb-5">
    <%@companies.each_with_index do |company, index|%>
      <%= render 'shared/company_card', company: company, index: index %>
    <%end%>
  </div>

<%= link_to "DownloadDD", companies_path(format: :pdf)%>



  <h2>Market Index</h2>
  <div class="row">
    <%@market_index_array.each_with_index do |market_index, index|%>
      <%= render 'shared/market_card', market_index: market_index  %>
    <%end%>
  </div>
</div>
