<h1><%=@company.ticker%></h1>
<div class="container">
  <%= line_chart @price_data_array, min: @min_price[0]*0.9, width: "800px", height: "500px", points: false %>
  <%= line_chart @indicator_data_array, width: "800px", height: "500px", points: false %>
</div>
