  <div class="row mb-3">
    <div class="col-12">
      <h3 class="mb-3">Due to unexpected high traffic to our website, This service is now under maintenance</h3>
      <div class="reports">
        <% if false %>
          <div class="report-item">
            <%= link_to sec_data.second[:index_10k], target: '_blank' do %>
              <i class="far fa-folder-open mr-2"></i>10-K Reports Index
            <% end %>
          </div>
          <div class="report-item">
            <%= link_to sec_data.third[:index_10q], target: '_blank' do %>
              <i class="far fa-folder-open mr-2"></i>10-Q Reports Index
            <% end %>
          </div>
          <% sec_data.first.each do |report| %>
            <div class="report-item">
              <%= link_to report[:link], target: '_blank' do %>
                <i class="far fa-file-alt mr-2"></i>Report filed on <%= report[:date] %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
