.card-company {
  background: white;
  padding: 25px 15px;
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
  margin: 10px 0;
  position: relative;
  .delete {
    width: 10px;
    height: 10px;
    opacity: 0.2;
    position: absolute;
    right: 15px;
    top: 10px;
    &:hover {
      opacity: 0.8;
    }
  }

  .card-company-content {
    h3 {
      font-size: 1.4rem;
      display: flex;
      max-width: 200px;
      align-items: center;
      a {
        -webkit-box-flex: 1;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    p {
      font-size: 0.9rem;
      margin: 0;
    }
    h3 .stock-price {
      font-size: 2rem;
    }
  }

  .card-company-graph {
    padding-left: 0;

    .chartjs-render-monitor {
      background: rgba($sky, 0.2);
    }
  }
}

.basket-card {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: white;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  &:hover {
    background: darken($navy, 2%);
    opacity: 0.9;
  }
  a:hover {
    text-decoration: none;
  }

  p {
    color: white;
    margin: 0;
    &:hover { text-decoration: none; }
  }
}

.item-control {
  display: flex;
  align-items: center;
  p {
    color: white;
    margin: 0 auto 0 0;
    opacity: 0.7;
    font-size: 0.8rem;
  }
  i {
    padding: 0 3px;
    cursor: pointer;
    opacity: 0.7;
    font-size: 0.8rem;
  }

  input#group_name {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: $border-radius;
  }
}

.card-market {
  padding: 10px 0;
  border-bottom: 1px solid rgba($gray, 0.25);

  div {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      font-size: 1.2rem;
    }

    &.card-market-subtext p {
      font-size: 1rem;
      opacity: 0.5;
      &.movement {
        color: $green;
        opacity: 1;
        &.down {
          color: $red;
        }
      }
    }
  }
}

.company-info-card {
  background: white;
  border-radius: $border-radius-lg;
  padding: 30px;

  .ticker {
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.company-description {
  text-align: center;
  border-radius: $border-radius;
  padding: 15px 30px;
  margin: 10px 0;
  background: white;
  position: relative;

  .add {
    color: #ddd;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    transition: $transition-in;
    &:hover { color: #444; }
  }

  .company-logo {
    width: 80px;
    height: 80px;
    padding: 10px;
    object-fit: contain;
  }

  .company-ticker {
    font-size: 1.2rem;
    font-weight: normal;
  }

  & > p {
    text-align: left;
  }
}

.company-data {
  width: 100%;
  font-size: 1.2rem;
  background: white;
  padding: 30px;
  margin: 10px auto;
  border-radius: $border-radius;
  ul {
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid #ddd;
      padding: 3px 0;

      .data-title {
        font-weight: bold;
      }
    }
  }
}

.news-card {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin: 5px 0 15px;
  img {
    min-width: 120px;
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
  .news-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 1rem;
    line-height: 1.2rem;
    opacity: .8;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .news-card-infos {
    padding: 0 24px;
  }
}

