.info-tabs {
    width: 100%;
    display: flex;

    a {
        padding: 16px 24px;
        border-radius: 6px 6px 0 0;
        background: darken($light-gray, 3%);
        opacity: 0.7;
        &.active {
            opacity: 1;
            background: white;
        }
        &:hover {
            text-decoration: none;
            background: $light-gray;
        }
    }
}

#financials-content, #news-content, #reports-content {
    background: white;
    padding: 30px;
}