.lds-facebook {
  background-color: rgba($light-gray, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  animation: fade-in 0.5s ease-out forwards;

  .spinner {
    color: $turquoise;
    font-size: 5rem;
    animation: spinner 1s ease-in infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
