$nav-height: 80px;

.navbar-lewagon {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  height: $nav-height;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
