.sidebar {
  position: sticky;
  top: $nav-height;
  padding: 80px 30px;
  height: calc(100vh - #{$nav-height});
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: $navy;
  color: white;
  border-top-right-radius: 100px;

  .secondary-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 15px 0;
      font-family: $headers-font;
      font-size: 1.4rem;
      a {
        color: darken($navy, 8%);
        transition: $transition-in;
        &.active { color: white }
        &:hover { color: white; text-decoration: none; }
      }
    }
  }

  .basket-container {
    .add-group {
      color: white;
      font-size: 1.6rem;
      opacity: 0.8;
      transition: $transition-in;
      &:hover { opacity: 1; }
    }
    .basket-cards {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;

      div {
        width: 100%;
      }
    }
  }
}
