<div id="loading-in" style="display: none;" class="lds-facebook">
  <i class="fas fa-circle-notch spinner"></i>
</div>
<script>

  window.addEventListener("beforeunload", function() {
    const loader = document.getElementById('loading-in');
    loader.style.display = "flex";
  });
</script>
