<div id="loading-in" style="display: none;" class="lds-facebook"><div></div><div></div><div></div></div>
<script>

  window.addEventListener("beforeunload", function() {
    const loader = document.getElementById('loading-in');
    loader.style.display = "inline-block";
    console.log("unloading");
  });
</script>
